<div id="menu-vinhomes-saigon-park">
    <div class="header-container">
        <div class="header-center-group">
            <div class="logo">
                <a href="/du-an/vinhomes-saigon-park/"><img src="/assets/images/vinhomes-saigon-park-logo.png" alt="Logo" class="logo-img"></a>
            </div>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="/du-an/vinhomes-saigon-park/" class="nav-link">Trang Chủ</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/vi-tri.html" class="nav-link">Vị Trí</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/tien-ich.html" class="nav-link">Tiện Ích</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/mat-bang.html" class="nav-link">Mặt Bằng</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/gia-ban.html" class="nav-link">Giá Bán</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/tin-tuc/vinhomes-saigon-park/" class="nav-link">Tin Tức</a></li>
                    <li><a href="/du-an/vinhomes-saigon-park/lien-he.html" class="nav-link">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
         <div class="header-action">
            <button class="mobile-menu-btn" id="mobile-toggle">☰</button>
        </div>    
    </div>
</div>

<div id="menu-the-global">
    <div class="header-container">
        <div class="header-center-group">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo-greenia-homes.png" alt="Logo" class="logo-img"></a>
            </div>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="#tong-quan" class="nav-link">Trang Chủ</a></li>
                    <li><a href="#mat-bang" class="nav-link">Vị Trí</a></li>
                    <li><a href="#chinh-sach" class="nav-link">Mặt Bằng</a></li>
                    <li><a href="#chinh-sach" class="nav-link">Tiện Ích</a></li>
                    <li><a href="#chinh-sach" class="nav-link">Giá Bán</a></li>
                    <li><a href="#chinh-sach" class="nav-link">Tin Tức</a></li>
                    <li><a href="#chinh-sach" class="nav-link">Liên Hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>